body {
    background: #1d5b5c;
    text-align: center;
}

.title {
    
    color: #0b110d;
    font-size: 35px;
}

.subtitle {
    
    color: white;
    font-size: 18px;
}

.descripition {
    border: 3px solid black;
    border-radius: 10px;
    margin:0 auto;
    background: whitesmoke;
}
.post_title {
    color: #000039;
    font-size: 22px;
    font-style: italic;
}

.post_content {
    color: black;
    font-size: 16px;
    
}

.link {
    color: white;    
}

.photo {
    padding: 10px;
    margin:0 auto;    
}