body {
    background: #1d5b5c;
    text-align: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b110d;
    font-size: 35px;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 18px;
}

.descripition {
    border: 3px solid black;
    border-radius: 10px;
    margin:0 auto;
    background: whitesmoke;
}
.post_title {
    color: #000039;
    font-size: 22px;
    font-style: italic;
}

.post_content {
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    
}

.photo {
    padding: 10px;
    margin:0 auto;    
}

.contacts{
    margin: 3px;px;
}

.contact{
    color: antiquewhite;
}